<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
	</configSections>
	<connectionStrings>
		<add name="SimpleContext" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.1.83,1433;Database=Power;User Id=sa;Password=Thhob2r5;"/>
	</connectionStrings>
</configuration>